#!/bin/sh
[ -f ~/.zshenv ] && . ~/.zshenv

# vars
SCRIPTS_HOME="$HOME/.local/bin"

# autostart programs
mpd &
nitrogen --restore
$SCRIPTS_HOME/mpdchangestatus &
$SCRIPTS_HOME/dwmstatus &
$SCRIPTS_HOME/dwmtasks &
picom &
unclutter --start-hidden --jitter 10 --ignore-scrolling &
/usr/lib/xfce-polkit/xfce-polkit &
dunst &

# play sound and greet
notify-send --expire-time=3000 "Welcome back, $USER"
mpv --no-video $HOME/.local/share/startsound.mp3 &
