#!/bin/sh
[ -f ~/.zshenv ] && . ~/.zshenv

# vars
SCRIPTS_HOME="$HOME/.local/bin"

# autostart programs
picom &
$SCRIPTS_HOME/mpdchangestatus &
unclutter --start-hidden --jitter 10 --ignore-scrolling &
nitrogen --restore
/usr/lib/xfce-polkit/xfce-polkit &
dunst &
$SCRIPTS_HOME/dwmstatus &
$SCRIPTS_HOME/dwmtasks &
conky &

# play sound
mpv --no-video $HOME/.local/share/startsound.mp3 &
